@use "base/variables" as v;
@use "base/mixins" as m;

.acciones{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;

    @include m.tablet{
        text-align: justify;
    }

    a{
        color: v.$verdeClaro;
    }
}